# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- AGREGADO PARA BACKEND & PRISMA ---

# Variables de entorno
.env
.env.test
.env.production

# Bases SQLite locales
*.db
*.db-journal
*.sqlite
*.sqlite3
prisma/*.db
prisma/*.db-journal
